#!/usr/bin/env ruby

preprocess do
  by_tag  = Hash.new { |h,k| h[k] = [] }
  by_year = Hash.new { |h,k| h[k] = [] }
  articles.each do |item|
    by_year[item[:created_at].year] << item
    item[:tags].each do |tag|
      by_tag[as_slug(tag)] << item
    end
  end

  by_year.each do |year, items|
    @items.create("", { items: items.map(&:identifier) }, "/notes/#{year}.html")
  end
  by_tag.each do |tag, items|
    @items.create("", { items: items.map(&:identifier) }, "/notes/#{tag}.html")
  end
  @items.create("", { items: articles.map(&:identifier) }, "/index.html")

  @items.create("", { items: items.select { |i| i[:kind] == "draft" }.map(&:identifier) },
                "/drafts.html")
end

compile '/{notes,drafts}/*.md' do
  filter :erb
  filter :kramdown
  filter :colorize_syntax, default_colorizer: :rouge, rouge: { legacy: true, line_numbers: true }
  layout '/note.*'
  layout '/default.*'
end

compile '/{index.html,drafts.html,notes/*.html}' do
  filter :erb
  layout '/category.*'
  layout '/default.*'
end

compile '/images/**/*.{jpeg,png}', rep: :thumbnail do
  filter :resize_image, size: 200
end

compile '/**/*.xml' do
  filter :erb
end

compile '/**/*' do
end

route %r{/notes/(\d{4}-\d{2}-\d{2})-(.+).md} do |date, name|
  "/notes/#{date}/#{name}/index.html"
end

route '/files/**/*' do
  item.identifier.to_s
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

route '/images/**/*', rep: :thumbnail do
  item.identifier.without_ext + '-thumb.' + item.identifier.ext
end

route '/**/*' do
  item.identifier.to_s
end

layout '/**/*', :erb
