    <nav class="secondary">
      <ul>
        <li><h1>By year:</h1></li>
        <% %w(2014 2015 2016 2017 2018).each do |year| %>
        <li><%= link_to_unless_current year, "/notes/#{year}/" %></li>
        <% end %>
      </ul>

      <ul>
        <li><h1>By tag:</h1></li>
        <% articles.flat_map { |a| a[:tags] }.sort.uniq.each do |tag| %>
        <li><%= link_to_unless_current tag, "/notes/#{as_slug tag}/" %></li>
        <% end %>
      </ul>
    </nav>

    <div id="content">
      <% @item[:items].
          map { |n| @items[n] }.
          sort_by { |i| i[:created_at] }.
          reverse.
          each do |item| %>
      <article>
        <header>
          <% if item[:kind] == "draft" %>
          <time datetime="<%= Time.now %>">Draft</time>
          <% else %>
          <time datetime="<%= item[:created_at] %>"><%= item[:created_at].to_date %></time>
          <% end %>
          <h1><%= link_to item[:title], item %></h1>
        </header>
      </article>
      <% end %>
    </div>
