<div id="header">
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <p>{{ site.subtitle }}</p>
  {% endif %}
</div>
<ul id="social-links">
  {% if site.subscribe_rss %}
    <li><a class="feed" href="{{ site.subscribe_rss }}" title="RSS">RSS</a></li>
  {% endif %}
  {% if site.twitter_user %}
    <li><a class="twitter" href="http://twitter.com/{{ site.twitter_user }}" title="Twitter">Twitter</a></li>
  {% endif %}
  {% if site.github_user %}
    <li> <a class="github" href="https://github.com/{{ site.github_user }}" title="GitHub">GitHub</a> </li>
  {% endif %}
</ul>
<div class="clear"></div>
<ul id="nav">
  {% if page.current == 'notes' %}
    <li> <a href="{{ root_url }}/" class="current">notes</a> </li>
  {% else %}
    <li> <a href="{{ root_url }}/">notes</a> </li>
  {% endif %}

  {% if page.current == 'archive' %}
    <li><a href="{{ root_url }}/notes/archive" class="current">archive</a></li>
  {% else %}
    <li><a href="{{ root_url }}/notes/archive">archive</a></li>
  {% endif %}
</ul>
